PHX_HOST=ashlearning.dev
# Generate a new secret key with `mix phx.gen.secret`
SECRET_KEY_BASE=SOME_SECRET_KEY_BASE
MAILPIT_SMTP_HOST=localhost
MAILPIT_PORT=1025

# Oauth providers
# Doc: https://github.com/team-alembic/ash_authentication/blob/main/documentation/tutorials/google.md
GOOGLE_CLIENT_ID=MY_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=MY_GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=auth/user/google/callback

# Doc:
# https://github.com/team-alembic/ash_authentication/blob/main/documentation/tutorials/github.md
GITHUB_CLIENT_ID=MY_GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=MY_GITHUB_CLIENT_SECRET
GITHUB_REDIRECT_URI=auth/user/github/callback
